<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Les conditions</title>
</head>
<body>
    Voici les conditions à respecter :
    <ul>
        <li>L'objet à vendre doit être basé en France.</li>
        <li>Le vendeur doit être un particulier et non un professionnel.</li>
    </ul>
</body>
</html>